.encabezado {
    flex-direction: column;
    display: flex;
    background-image: url('.assets/images/gimnasio.jpg');
    background-size: cover;
    text-decoration-color: white;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ghostwhite;
}

li {
    float: right;
    padding: 8px;
    display: block;
}

.button {
    background-color: grey;
    border: #eb0b0b;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: ghostwhite;
}

.contacto {
    flex-direction: column;
    column-count: 3;
}

.informacion {
    flex-direction: column;
    column-count: 3;
    align-items: baseline;
}